body.home-page {
  font-family: "Poppins", sans-serif;
  background-color: hsl(240, 4%, 11%);

  /* color: #333; */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.home-page .carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.home-page .carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.home-page .carousel-item {
  flex: 0 0 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-page .carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  color: white;
  bottom: 20%;
  left: 10%;
  right: 10%;
}
.home-page p {
  font-size: 16px;
}
.home-page h1 {
  color: white;
  padding-bottom: 20px;
}

.home-page .carousel-btn {
  text-decoration: none;
  background-color: hsl(338, 80%, 58%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.home-page .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  z-index: 1000;
  cursor: pointer;
}

.home-page .carousel-control.prev {
  left: 10px;
}

.home-page .carousel-control.next {
  right: 10px;
}

/* Movies Section Title */
.home-page .movies-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 20px;
  /* color: #333; */
}

/* Movie List Styling */
.home-page #movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Movie Card Styling */
.home-page .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px; /* Set a fixed height for uniformity */
  border: 1px solid #25272c;
  background-color: #25272c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.home-page .card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.home-page .card-img-top {
  width: 100%;
  height: 250px; /* Fixed image height for consistency */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.home-page .card-body {
  flex: 1; /* Ensures the body grows to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out content evenly */
  padding: 15px;
  text-align: center;
}

.home-page .card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  min-height: 3em;
}

.home-page .show-all-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: hsl(338, 80%, 58%);
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home-page .show-all-button:hover {
  background-color: hsl(338, 80%, 48%);
}
.home-page .show-all-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
