/* General Styling */
.groups-page-general {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: white;
  max-width: 1170px;
  margin: auto;
}

.groups-page-general h1 {
  margin: 0;
  margin-right: auto;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

/* Navbar Styling */
.groups-page-general .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: hsl(240, 4%, 11%);
  border-radius: 8px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.groups-page-general .navbar-buttons {
  display: flex;
  gap: 15px;
}

.groups-page-general .btn {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.groups-page-general .btn.create-group {
  background-color: hsl(338, 80%, 58%);
  color: white;
}

.groups-page-general .btn.create-group:hover {
  background-color: #e91e63;
}

.groups-page-general .btn.your-groups {
  background-color: hsl(338, 80%, 58%);
  color: white;
}

.groups-page-general .btn.your-groups:hover {
  background-color: #e91e63;
}

/* Table Styling */
/* .groups-page-general .groups-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.groups-page-general .groups-table th,
.groups-page-general .groups-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid  white;
}

.groups-page-general .groups-table th {
  background-color: #24262b;
  color: white;
}

.groups-page-general .groups-table tr:hover {
  background-color: #24262b;
} */
.groups-page-general .groups-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.groups-page-general .groups-table th,
.groups-page-general .groups-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid white;
}

.groups-page-general .groups-table th {
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
}

.groups-page-general .groups-table td {
  color: #333;
  font-weight: bold;
}

.groups-page-general .groups-table tr:nth-child(even) {
  background-color: #ebe7e7;
}

.groups-page-general .groups-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 530px) {
  .groups-page-general .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .groups-page-general .navbar-buttons {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 460px) {
  .groups-page-general .navbar-buttons .btn {
    width: 100%;
  }
}
